[Unit]
Description=Suspend qemu quests before system resume
Before=sleep.target

[Service]
Type=simple
ExecStart=/usr/bin/system-sleep-suspend-running

[Install]
WantedBy=sleep.target
